body {
    font-family: 'Comfortaa', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.navbar,
.card {
    font-family: 'Comfortaa', sans-serif;
}

/* Margin for the proposals container */
#proposalsContainer .col-lg-4 {
    padding: 15px;
}

/* Card style */
.card {
    border-radius: 8px;
}

/* Badge style */
.badge {
    font-size: 0.9rem;
}

#logo {
    margin-bottom: 5px;
    height: 40px;
}

/* Navbar custom color */
.bg-daupm {
    --bs-bg-opacity: 1;
    background-color: #00509B !important;
    /* Using the color scheme of the reference site */
}

.modal-content {
    border-radius: 10px;
}

.support-button-spinner {
    display: none;
}

.bootstrap-select {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

#searchIndicator{
    display:none;
}
.htmx-request #searchIndicator{
    display:inline;
}
.htmx-request#searchIndicator{
    display:inline;
}

#proposalDraftModalDescription {
    display: none;
}

/* admin-styles.css */

/* Centrar y ajustar la apariencia de las checkboxes */
.table .form-check-input {
    display: block;
    margin: 0 auto;
    transform: scale(1.2);
    /* Aumentar el tamaño de la checkbox */
}

/* Aumentar contraste de las checkboxes */
.table .form-check-input:checked {
    background-color: #007bff;
    /* Color azul para las checkboxes seleccionadas */
    border-color: #007bff;
}

/* Cambiar el color de fondo de la columna de checkboxes para mejorar visibilidad */
.table td:first-child {
    background-color: #f8f9fa;
}

/* Centrar contenido de la columna de checkboxes verticalmente */
.table td {
    vertical-align: middle;
}

.table th {
    text-align: center;
    vertical-align: middle;
}

/* Centrar contenido de las columnas */
.table td{
    text-align: center;
    vertical-align: middle;
}