<td><input type="checkbox" class="form-check-input" data-index="${index}"></td>
<td>
    <%= proposal.title %>
</td>
<td class="category-column">
    <% proposal.categories.forEach((categoryId, index)=> { %>
        <%= categories[categoryId] %><%- index !== proposal.categories.length -1 ? ',' : '' %>
            <% }) %>
<td class="actions-column">
    <button class="btn btn-link view-more" hx-get="/api/admin/proposals/<%= proposal._id.toString() %>"
        hx-target="#proposalDetailModal" hx-on::after-request="$('#proposalDetailModal').modal('show')">Ver
        más</button>
</td>