<% questions.forEach((question) => { %>
    <tr id="question-row-<%= question._id.toString() %>">
        <%- include('questionRow', { question, affiliations }) %>
    </tr>
<% }) %>
<% if (questions.length === 0) { %>
    <tr>
        <td colspan="100%"><h4>No hay preguntas que coincidan con los criterios de búsqueda.<h4></td>
    </tr>
<% } %>
