<div class="container mt-5">

    <!-- Header Section -->
    <div class="text-center">
        <h1>Gestión de propuestas</h1>
        <p class="lead">Selecciona una o varias propuestas para su publicación.</p>
    </div>

    <!-- Proposal Details Modal -->
    <div class="modal fade" id="proposalDetailModal" tabindex="-1" aria-labelledby="proposalDetailModalLabel"
        aria-hidden="true">
    </div>

    <!-- Proposal Draft Modal -->
    <div class="modal fade" id="proposalDraftModal" tabindex="-1" aria-labelledby="proposalDraftModalLabel"
        aria-hidden="true">
    </div>

    <!-- Proposal Reject Modal -->
    <div class="modal fade" id="proposalRejectModal" tabindex="-1" aria-labelledby="proposalRejectModalLabel"
        aria-hidden="true">
    </div>

    <!-- Botón para generar una nueva propuesta -->
    <div class="d-flex justify-content-center">
        <button type="button" id="generateNewProposal" class="btn btn-primary mb-4" 
            hx-get="/api/admin/draft-form"
            hx-trigger="click"
            hx-include=".proposal-checkbox:checked"
            hx-params="*"
            hx-target="#proposalDraftModal"
            hx-on::after-request="if(event.detail.xhr.status === 200) $('#proposalDraftModal').modal('show')">
        Generar Nueva Propuesta
        </button>
    </div>

    <!-- Search and Filter Section -->
    <div class="mt-5">
        <form hx-get="/api/admin/proposals"
            hx-trigger="input delay:500ms from: #searchInput, change delay:500ms from: #filterCategory"
            hx-target="#adminProposalsTableBody" hx-params="*" hx-indicator="#searchIndicator"
            onkeydown="if (event.keyCode === 13) event.preventDefault();">
            <%- include('fragments/searchAndFilterSection', { categories }) %>
        </form>
    </div>

    <!-- Tabla de propuestas -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Marcar</th>
                    <th scope="col">Título</th>
                    <th scope="col">Categorías</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody id="adminProposalsTableBody">
                <%- include('fragments/admin/proposalRows', { proposals, categories }) %>
                    <!-- Search indicator -->
                    <div class="d-flex justify-content-center">
                        <div id="searchIndicator" class="spinner-border text-primary" style="width: 5rem; height: 5rem;"
                            role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
            </tbody>
        </table>
    </div>

</div>