<div class="container text-center mt-5 mb-5">
    <div class="row" id="grid-container">
        <div id="candidates-first-column" class="col-md-4 mt-5">
            <h3 style="margin-bottom: 20px;">Óscar García <br> Suarez</h3>
            <img src="./img/OscarGarcia.webp" class="img-responsive img-rounded" style="height: 300px; margin: 0 auto 20px;">
            <div class="row" style="margin-top: 20px; margin-bottom: 20px">
                <div class="col-2" style="padding: 0"></div>
                <div class="col-2" style="padding: 0">
                    <a href="https://ilusionycambio.es" target="_blank">
                        <i class="bi bi-globe icon-social"></i>
                    </a>
                </div>
                <div class="col-2" style="padding: 0">
                    <a href="https://x.com/OscarGS_UPM" target="_blank">
                        <i class="bi bi-twitter icon-social"></i>
                    </a>
                </div>
                <div class="col-2" style="padding: 0">
                    <a href="https://www.instagram.com/oscargs_upm/" target="_blank">
                        <i class="bi bi-instagram icon-social"></i>
                    </a>
                </div>
                <div class="col-2" style="padding: 0">
                    <a href="https://www.tiktok.com/@oscargs_upm" target="_blank">
                        <i class="bi bi-tiktok icon-social"></i>
                    </a>
                </div>
            </div>
            <p style="text-align: left">
                <b>Antigüedad en la UPM:</b> 32 años.
            </p>
            <p style="text-align: left">
                <b>Estudios:</b> Doctor, Ingeniero Industrial por la UPM.
            </p>
            <p style="text-align: left">
                <b>Centro:</b> ETSI. Industriales.
            </p>
            <p style="text-align: left">
                <b>Departamento:</b> Automática, Ingeniería Eléctrica y Electrónica e Informática Industrial.
            </p>
            <p style="text-align: left">
                <b>Área de conocimiento:</b> Tecnología Electrónica.
            </p>
            <p style="text-align: left">
                <b>Categoría Docente:</b> Catedrático de Universidad.
            </p>
            <p style="text-align: left">
                <b>E-mail Institucional:</b> <a href="mailto:candidato.oscar.garcia@upm.es">candidato.oscar.garcia@upm.es</a>
            </p>
            <br>
            <button type="button" class="btn btn-primary">
                <a class="text-white fs-6 link-underline link-underline-opacity-0"
                    href="https://ilusionycambio.es/programa/">Programa Electoral</a>
            </button>
        </div>
        <div id="candidates-second-column" class="col-md-4 mt-5">
            <h3 style="margin-bottom: 20px;">Mª Asunción Santamaría <br> Galdón</h3>
            <img src="./img/AsuncionSantamaria.webp" class="img-responsive img-rounded" style="height: 300px; margin: 0 auto 20px;">
            <div class="row" style="margin-top: 20px; margin-bottom: 20px">
                <div class="col-2" style="padding: 0"></div>
                <div class="col-2" style="padding: 0"></div>
                <div class="col-2" style="padding: 0">
                    <a href="https://asunsantamaria.com" target="_blank">
                        <i class="bi bi-globe icon-social"></i>
                    </a>
                </div>
                <div class="col-2" style="padding: 0">
                    <a href="http://www.linkedin.com/in/asunci%C3%B3n-santamar%C3%ADa-501262b" target="_blank">
                        <i class="bi bi-linkedin icon-social"></i>
                    </a>
                </div>
                <div class="col-2" style="padding: 0"></div>
            </div>
            <p style="text-align: left">
                <b>Antigüedad en la UPM:</b> 28 años.
            </p>
            <p style="text-align: left">
                <b>Estudios:</b> Doctora, Ingeniera de Telecomunicación por la UPM.
            </p>
            <p style="text-align: left">
                <b>Centro:</b> ETSI. de Telecomunicación.
            </p>
            <p style="text-align: left">
                <b>Departamento:</b> Electrónica Física, Ingeniería Eléctrica y Física Aplicada.
            </p>
            <p style="text-align: left">
                <b>Área de conocimiento:</b> Tecnología Electrónica.
            </p>
            <p style="text-align: left">
                <b>Categoría Docente:</b> Titular de Universidad.
            </p>
            <p style="text-align: left">
                <b>E-mail Institucional:</b> <a href="mailto:candidata.asun.santamaria@upm.es">candidata.asun.santamaria@upm.es</a>
            </p>
            <button type="button" class="btn btn-primary">
                <a class="text-white fs-6 link-underline link-underline-opacity-0"
                    href="https://asunsantamaria.com/programa-electoral/">Programa Electoral</a>
            </button>
        </div>
        <div id="candidates-third-column" class="col-md-4 mt-5">
            <h3 style="margin-bottom: 20px;">F. Javier Jiménez <br> Leube</h3>
            <img src="./img/JavierJimenez.webp" class="img-responsive img-rounded" style="height: 300px; margin: 0 auto 20px;">
            <div class="row" style="margin-top: 20px; margin-bottom: 20px">
                <div class="col-2" style="padding: 0"></div>
                <div class="col-2" style="padding: 0">
                    <a href="https://javierleube.es" target="_blank">
                        <i class="bi bi-globe icon-social"></i>
                    </a>
                </div>
                <div class="col-2" style="padding: 0">
                    <a href="https://twitter.com/jleube" target="_blank">
                        <i class="bi bi-twitter icon-social"></i>
                    </a>
                </div>
                <div class="col-2" style="padding: 0">
                    <a href="https://www.instagram.com/jleube">
                        <i class="bi bi-instagram icon-social"></i>
                    </a>
                </div>
                <div class="col-2" style="padding: 0"></div>
            </div>
            <p style="text-align: left">
                <b>Antigüedad en la UPM:</b> 33 años.
            </p>
            <p style="text-align: left">
                <b>Estudios:</b> Doctor, Ingeniero de Telecomunicación por la UPM.
            </p>
            <p style="text-align: left">
                <b>Centro:</b> ETSI. de Telecomunicación.
            </p>
            <p style="text-align: left">
                <b>Departamento:</b> Ingeniería Electrónica.
            </p>
            <p style="text-align: left">
                <b>Área de conocimiento:</b> Tecnología Electrónica.
            </p>
            <p style="text-align: left">
                <b>Categoría Docente:</b> Titular de Universidad.
            </p>
            <p style="text-align: left">
                <b>E-mail Institucional:</b> <a href="mailto:candidato.francisco.jimenez@upm.es">candidato.francisco.jimenez@upm.es</a>
            </p>
            <br>
            <button type="button" class="btn btn-primary">
                <a class="text-white fs-6 link-underline link-underline-opacity-0"
                    href="https://www.javierleube.es/wp-content/uploads/2024/11/programa-electoral-Javier-Leube.pdf">Programa Electoral</a>
            </button>
        </div>
    </div>
</div>

<p class="fst-italic text-center mt-3 mb-3">
    El orden de aparición de las candidaturas se genera de manera aleatoria cada vez que se carga la página.
</p>
<script>
  // Función para ordenar elementos aleatoriamente
  function shuffleGrid() {
    const container = document.getElementById('grid-container');
    const items = Array.from(container.children);
    
    // Ordenar aleatoriamente los elementos
    items.sort(() => Math.random() - 0.5);
    
    // Limpiar el contenedor y volver a añadir los elementos en el nuevo orden
    container.innerHTML = '';
    items.forEach(item => container.appendChild(item));
  }

  // Llamar a la función al cargar la página
  document.addEventListener('DOMContentLoaded', shuffleGrid);
</script>
