<div class="container text-center mt-5 mb-5">
    <div class="row justify-content-center" id="grid-container">
        <% for (const candidate of candidates) { %>
            <%- include('fragments/candidateCard', {candidate}) %>
        <% } %>
    </div>
</div>

<p class="fst-italic text-center mt-3 mb-3">
    El orden de aparición de las candidaturas se genera de manera aleatoria cada vez que se carga la página.
</p>
<script>
  // Función para ordenar elementos aleatoriamente
  function shuffleGrid() {
    const container = document.getElementById('grid-container');
    const items = Array.from(container.children);
    
    // Ordenar aleatoriamente los elementos
    items.sort(() => Math.random() - 0.5);
    
    // Limpiar el contenedor y volver a añadir los elementos en el nuevo orden
    container.innerHTML = '';
    items.forEach(item => container.appendChild(item));
  }

  // Llamar a la función al cargar la página
  document.addEventListener('DOMContentLoaded', shuffleGrid);
</script>
