<div class="container mt-5">

    <!-- Header Section -->
    <div class="text-center">
        <h1>Gestión de compromisos</h1>
        <p class="lead">Compromisos de la candidatura de <%= candidate.name %>.</p>
        <hr>
        <div>
            <p class="lead">Notas aclaratorias:</p>
            <ul style="list-style: none;">
                <li>Se generará un documento en formato PDF con las propuestas seleccionadas para su firma.</li>
                <li>Por defecto aparecerán seleccionadas las propuestas apoyadas o con un compromiso.</li>
                <li>Los cambios quedarán guardados en el servidor, por lo que no es necesario completar el proceso en una sola sesión.</li>
                <li>Para firmar el documento de compromisos es necesario tener instalado y configurado Autofirma.</li>
                <li>El documento será publicado automáticamente tras su firma.</li>
                <li>Quedará publicado el último documento generado y firmado.</li>
                <li class="text-danger"><b>Ya se ha solucionado el error al generar el documento PDF para su firma.</b></li>
            </ul>
        </div>
        <hr>
    </div>

    <!-- Proposal Commitment Modal -->
    <div class="modal fade" id="proposalCommitmentModal" tabindex="-1" aria-labelledby="proposalCommitmentModalLabel"
        aria-hidden="true">
    </div>

    <!-- Commitment Signing Modal -->
    <div class="modal fade" id="commitmentsDocModal" tabindex="-1" aria-labelledby="commitmentsDocModalLabel"
        aria-hidden="true">
    </div>

    <div class="d-flex justify-content-center">
        <button type="button" id="signCommitments" class="btn btn-primary mb-4" hx-get="/api/commitments/sign"
            hx-trigger="click" hx-include="input.proposal-checkbox:checked" hx-params="*" hx-target="#commitmentsDocModal" hx-indicator="#signingIndicator"
            hx-on::before-request="$(this).prop('disabled', true)"
            hx-on::after-request="$(this).prop('disabled', false); if(event.detail.xhr.status === 200) { $('#commitmentsDocModal').modal('show');  }">
            Firmar compromisos
        </button>
    </div>

    <!-- Search indicator -->
    <div class="d-flex justify-content-center text-center mb-5">
        <div id="signingIndicator">
            <h5>Generando documento...</h5>
            <br>
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <!-- Tabla de propuestas -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Marcar</th>
                    <th scope="col">Título</th>
                    <th scope="col">Compromiso</th>
                    <th scope="col">Definir compromiso</th>
                </tr>
            </thead>
            <tbody id="commitmentsTableBody" hx-get="/api/commitments/proposals" hx-trigger="load" hx-indicator="#searchIndicator">

                <!-- Search indicator -->
                <div class="d-flex justify-content-center text-center mb-5">
                    <div id="searchIndicator">
                        <h5>Recuperando propuestas...</h5>
                        <br>
                        <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
</div>