<div class="container my-4">
    <div class="row">
        <div class="col-md-12">
            <div id="content">
                <ul class="timeline">
                    <li class="event" data-date="3 OCT 2024">
                        <h3>Convocatoria de Elecciones</h3>
                        <p>Se convocan oficialmente las elecciones a Rector/a de la UPM.</p>
                        <button type="button" class="btn btn-primary">
                            <a class="text-white fs-6 link-underline link-underline-opacity-0"
                                href="https://www.upm.es/gsfs/SFS19692">Convocatoria</a>
                        </button>
                    </li>
                    <li class="event" data-date="8 - 21 OCT 2024">
                        <h3>Censos</h3>
                        <ul>
                            <li>8 de octubre: Publicación de los censos provisionales. Es imprescindible que aparezca tu
                                nombre para poder votar.</li>
                            <li>Del 9 al 15 de octubre: Plazo de presentación de reclamaciones ante la Comisión
                                Electoral Central.</li>
                            <li>21 de octubre: Resolución de reclamaciones por la Comisión Electoral Central.</li>
                            <l1>21 de octubre : Publicación de los censos definitivos.
                    </li>
                </ul>
                </li>
                <li class="event" data-date="16 - 31 OCT 2024">
                    <h3>Candidaturas</h3>
                    <p>

                    <ul>
                        <li>Del 16 al 22 de octubre: Plazo de presentación de candidaturas.</li>
                        <li>24 de octubre: Proclamación provisional de candidaturas.</li>
                        <li>26 de octubre: Proclamación provisional de candidaturas.</li>
                        <li>Del 25 al 29 de octubre: Plazo de presentación de reclamaciones ante la Comisión Electoral
                            Central.</li>
                        <li>31 de octubre: Resolución de reclamaciones por la Comisión Electoral Central.</li>
                        <li>31 de octubre: Proclamación definitiva de candidaturas.</li>
                    </ul>
                    </p>

                    <button type="button" class="btn btn-primary">
                        <a class="text-white fs-6 link-underline link-underline-opacity-0"
                            href="https://www.upm.es/gsfs/SFS20929">Proc. Provisional</a>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <a class="text-white fs-6 link-underline link-underline-opacity-0" href="https://www.upm.es/gsfs/SFS21265">Proc. Definitiva</a>
                    </button>
                </li>
                <li class="event" data-date="4 - 18 NOV 2024">
                    <h3>Campaña Electoral [1º Vuelta]</h3>
                    <p>
                        Durante este periodo, los/as candidatos/as a Rector/a presentarán sus programas e ideas a toda
                        la comunidad Universitaria mediante páginas webs de campaña, redes sociales, actos de campaña
                        presenciales, correos electrónicos, material audiovisual, etc.
                    </p>
                    <p>
                        Desde la Delegación de Alumnos/as de la UPM recogeremos vuestras propuestas para mejorar la
                        escuela y la universidad y se las haremos llegar a los/as candidatos/as. </p>
                    </p>
                    <button type="button" class="btn btn-primary">
                        <a class="text-white fs-6 link-underline link-underline-opacity-0" href="/candidates">Más
                            información</a>
                    </button>
                </li>
                <li class="event" data-date="5 - 18 NOV 2024">
                    <h3>Voto presencial anticipado</h3>
                    <p> Para todos los miembros de la Comunidad Universitaria de la universidad que no puedan o
                        prefieran no asistir a votar presencialmente el día 20 de noviembre, podrán votar de manera
                        anticipada del 5 al 18 de noviembre.
                    </p>
                    <p class="text-danger">
                        Es importante recalcar que solo se podrá entregar el voto en el registro físico de la
                        Universidad (Rectorado UPM - Edificio A). No se podrá delegar ni autorizar la presentación del
                        voto. El horario del Registro físico es hasta las 14:00 horas.
                    </p>
                    <button type="button" class="btn btn-primary">
                        <a class="text-white fs-6 link-underline link-underline-opacity-0" href="https://www.upm.es/gsfs/SFS21315">Procedimiento</a>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <a class="text-white fs-6 link-underline link-underline-opacity-0" href="https://www.upm.es/gsfs/SFS21314">Escrito</a>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <a class="text-white fs-6 link-underline link-underline-opacity-0" href="https://www.upm.es/gsfs/SFS21320">Papeleta</a>
                    </button>
                </li>
                <li class="event" data-date="5 NOV 2024">
                    <h3>Sorteo mesas electorales</h3>
                    <p>Sorteo para designar a los miembros titulares y suplentes de las Mesas Electorales en la 1ª
                        vuelta. Entre toda la Comunidad Universitaria de la universidad se decide aleatoriamente quien
                        formará parte de cada mesa electoral.</p>
                    <p>Tanto las personas elegidas como las suplentes serán notificadas mediante correo electrónico y
                        tendrán que presentarse en la fecha y hora previstas.</p>
                    <p class="text-danger"><b>No podrán rechazar ser parte de la mesa</b> a no ser que sea por una causa
                        debidamente justificada.</p>
                </li>
                <li class="event" data-date="19 NOV 2024">
                    <h3>Jornada de reflexión</h3>
                    <p>Durante esta jornada no habrá ningún acto de campaña por parte de los/as candidatos/as.</p>
                </li>
                <li class="event" data-date="20 NOV 2024">
                    <h3>Jornada de Votación</h3>
                    <p>Si no has votado anticipadamente, <b>¡ven a tu escuela a votar!</b></p>
                    <p>Podrás hacerlo en el colegio electoral en el que estés censado <i>(Es decir, en tu escuela,
                            centro o facultad)</i>.</p>
                    <p><b>El horario para votar es de 10:00 a 18:00.</b></p>
                </li>
                <li class="event" data-date="21 - 26 NOV 2024">
                    <h3>Proclamación provisional del candidato/a electo</h3>
                    <ul>
                        <li>21 de noviembre: Proclamación provisional del candidato/a electo, si lo hubiere, o de los
                            dos más votados.</li>
                        <li>Del 22 al 26 de noviembre: Plazo de presentación de reclamaciones ante la Comisión Electoral
                            Central.</li>
                        <li>29 de noviembre: Proclamación definitiva del candidato/a electo, si lo hubiere, o de los dos
                            más votados.</li>
                    </ul>
                    <p><b>En caso de que ningún candidato haya conseguido más de la mitad de los votos válidamente
                            emitidos a candidaturas, se procederá a realizar una segunda vuelta.</b></p>
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>
