<div class="container mt-5">
    <!-- Header Section -->
    <div class="text-center">
        <h1><%= texts.headerTitle %></h1>
        <p class="lead"><%= texts.headerSubtitle %></p>
        <button class="btn btn-primary" hx-get="/api/proposals/draft-form" hx-target="#proposalDraftModal"
            hx-on::after-request="if(event.detail.xhr.status === 200) $('#proposalDraftModal').modal('show');">Aportar
            Propuesta</button>
    </div>

    <!-- Proposal Draft Modal -->
    <div class="modal modal-lg fade" id="proposalDraftModal" tabindex="-1" aria-labelledby="proposalModalLabel"
        aria-hidden="true">
    </div>

    <!-- Proposal Details Modal -->
    <div class="modal fade" id="proposalDetailModal" tabindex="-1" aria-labelledby="proposalDetailModalLabel"
        aria-hidden="true">
    </div>

    <!-- Search and Filter Section -->
    <div class="mt-5">
        <form hx-get="/api/proposals"
            hx-trigger="input delay:500ms from: #searchInput, change delay:500ms from: #filterCategory"
            hx-target="#proposalsContainer" hx-params="*" hx-indicator="#searchIndicator"
            onkeydown="if (event.keyCode === 13) event.preventDefault();">
            <%- include('fragments/searchAndFilterSection', { categories, affiliations }) %>
        </form>
    </div>

    <!-- Proposals Section -->
    <div id="proposalsContainer" class="row gy-4 mb-5" hx-get="/api/proposals" hx-trigger="load"
        hx-indicator="#searchIndicator">
    </div>

    <!-- Search indicator -->
    <div class="d-flex justify-content-center text-center mb-5">
        <div id="searchIndicator">
            <h5>Recuperando propuestas...</h5>
            <br>
            <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>