<div class="container mt-5">
    <div class="text-center">
        <h1>Parece que te has perdido</h1>
        <p class="lead">La página a la que intentas acceder no existe.</p>
        <a href="/">Volver a Inicio</a>
    </div>
</div>