<div class="container mt-5 admin-container">

    <!-- Header Section -->
    <div class="text-center">
        <h1>Panel de administrador</h1>
        <p class="lead">Selecciona a qué menú acceder.</p>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-center">
        <a href="/aesthetics" class="btn btn-secondary mb-2 mx-md-2">
            <i class="bi bi-globe"></i> Aspecto de la web
        </a>
        <a href="/stats" class="btn btn-secondary mb-2 mx-md-2">
            <i class="bi bi-info-circle"></i> Estadísticas de la web
        </a>
        <a href="/candidatesAdmin" class="btn btn-secondary mb-2 mx-md-2">
            <i class="bi bi-person-circle"></i> Gestión de candidatos
        </a>
        <a href="/proposalsAdmin" class="btn btn-secondary mb-2 mx-md-2">
            <i class="bi bi-chat-left-text"></i> Gestión de propuestas
        </a>
        <a href="/resultsAdmin" class="btn btn-secondary mb-2 mx-md-2">
            <i class="bi bi-envelope-paper"></i> Gestión de resultados
        </a>
        <a href="/timelineAdmin" class="btn btn-secondary mb-2 mx-md-2">
            <i class="bi bi-calendar2-week"></i> Linea de tiempo
        </a>
    </div>

</div>
