<% const icons={ x: "bi bi-twitter-x" , instagram: "bi bi-instagram" , youtube: "bi bi-youtube" ,
    facebook: "bi bi-facebook" , tiktok: "bi bi-tiktok" , telegram: "bi bi-telegram" , whatsapp: "bi bi-whatsapp" ,
    linkedin: "bi bi-linkedin" } %>
    <div class="container mt-5 text-center">
        <h1>Configuración</h1>
        <p class="lead">Edita los distintos aspectos de la web desde esta página.</p>
    </div>

    <div class="container settings-container row justify-content-center">
        <div class="col-md-6">
            <!-- Feature Flags Card -->
            <div class="row justify-content-center mt-5">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mt-2 mb-0 text-center">Feature Flags</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Funcionalidad</th>
                                            <th class="text-center">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (const [flag, featureValue] of Object.entries(featureFlags)) { %>
                                            <%- include('../fragments/admin/aestheticsForms/featureRow', { flag, featureValue }) %>
                                                <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Color settings -->
            <div class="row justify-content-center mt-5">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mt-2 mb-0 text-center">Colores Personalizados</h3>
                        </div>
                        <div class="card-body">
                            <%- include('../fragments/admin/aestheticsForms/settingsColorForm', { colors }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- Text Settings -->
            <div class="row justify-content-center mt-5">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mt-2 mb-0 text-center">Configuración de Texto</h3>
                        </div>
                        <div class="card-body">
                            <%- include('../fragments/admin/aestheticsForms/settingsTextForm', { texts, icons }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('addSocialMediaButton').addEventListener('click', function () {
            const container = document.getElementById('socialMediaContainer');
            const index = container.children.length;

            // Añadir separador si no es el primer elemento
            if (index > 0) {
                const separator = document.createElement('div');
                separator.className = 'social-media-separator';
                container.appendChild(separator);
            }

            const newField = document.createElement('div');
            newField.className = 'form-row mb-4';
            newField.innerHTML = `
        <div class="col mb-4">
            <label for="socialMediaIcon${index}">Icono</label>
            <select id="socialMediaIcon${index}" name="socialMedia[${index}][icon]" class="form-control">
                <option value="bi bi-twitter-x">X</option>
                <option value="bi bi-instagram">Instagram</option>
                <option value="bi bi-youtube">YouTube</option>
                <option value="bi bi-facebook">Facebook</option>
                <option value="bi bi-tiktok">TikTok</option>
                <option value="bi bi-telegram">Telegram</option>
                <option value="bi bi-whatsapp">WhatsApp</option>
                <option value="bi bi-linkedin">LinkedIn</option>
            </select>
        </div>
        <div class="col mb-4">
            <label for="socialMediaName${index}">Nombre</label>
            <input type="text" id="socialMediaName${index}" name="socialMedia[${index}][name]" class="form-control" value="">
        </div>
        <div class="col mb-4">
            <label for="socialMediaLink${index}">Enlace</label>
            <input type="text" id="socialMediaLink${index}" name="socialMedia[${index}][link]" class="form-control" value="">
        </div>
        <div class="col-auto mb-4 d-flex align-items-end">
            <button type="button" class="btn btn-danger" onclick="removeSocialMedia(this)">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    `;
            container.appendChild(newField);
        });

        function removeSocialMedia(button) {
            const row = button.closest('.form-row');
            const separator = row.previousElementSibling;
            if (separator && separator.className === 'social-media-separator') {
                separator.remove();
            }
            row.remove();
            reindexSocialMedia();
        }

        // Debido a que los elementos se eliminan y añaden dinámicamente, es necesario reindexar los elementos.
        // Si no se hace esto, puede dar problemas al enviar el formulario, ya que podrían haber elementos con
        // el mismo nombre.

        function reindexSocialMedia() {
            const container = document.getElementById('socialMediaContainer');
            const rows = container.getElementsByClassName('form-row');

            Array.from(rows).forEach((row, index) => {
                const select = row.querySelector('select');
                const inputs = row.querySelectorAll('input');
                const labels = row.querySelectorAll('label');

                select.id = `socialMediaIcon${index}`;
                select.name = `socialMedia[${index}][icon]`;

                inputs[0].id = `socialMediaName${index}`;
                inputs[0].name = `socialMedia[${index}][name]`;

                inputs[1].id = `socialMediaLink${index}`;
                inputs[1].name = `socialMedia[${index}][link]`;

                labels[0].htmlFor = `socialMediaIcon${index}`;
                labels[1].htmlFor = `socialMediaName${index}`;
                labels[2].htmlFor = `socialMediaLink${index}`;
            });
        }
    </script>