<div class="container mt-5 text-center ">
    <h1>Configuración de candidatos</h1>
    <p class="lead">Edita la información de los distintos candidatos desde esta página.</p>
</div>

<%- include('../fragments/admin/candidateForms/newCandidateButton') %>

<div class="container settings-container row justify-content-center" id="candidatesContainer">
        <% for (const candidate of candidates) { %>
            <%- include('../fragments/admin/candidateForms/candidateForm', {candidate}) %>
        <% } %>
</div>