<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="proposalModalLabel">Nueva Propuesta</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <%- include(admin ? 'admin/proposalAdminForm' : 'proposalDraftForm') %>
        </div>
    </div>
</div>

<script>
    $(this).ready(() => {
        $('.selectpicker').selectpicker();

        $('#proposalDraftModalDescription').summernote({
            placeholder: 'Desarrolla aquí tu propuesta...',
            height: 300,
            toolbar: [
                ['style', ['bold', 'italic', 'underline']],
                ['para', ['ul', 'ol']]
            ],
            fontNamesIgnoreCheck: ['Helvetica'],
        });
    });
</script>