<div class="form-group mb-3">
    <label for="pageTitle">Texto de pestaña de navegador</label>
    <div class="card">
        <div class="card-body">
            <div class="form-row ">
                <div class="form-group ">
                    <input type="text" id="pageTitle" name="pageTitle"
                        class="form-control" value="<%= texts.pageTitle %>">
                </div>
            </div>
        </div>
    </div>
</div>