<form id="colorForm">
    <div class="form-group mb-4">
        <label for="primaryColor">Color Primario</label>
        <input type="color" id="primaryColor" name="primaryColor" class="form-control" value="<%= colors.primary %>">
    </div>
    <div class="form-group mb-4">
        <label for="secondaryColor">Color Secundario</label>
        <input type="color" id="secondaryColor" name="secondaryColor" class="form-control"
            value="<%= colors.secondary %>">
    </div>
    <div class="form-group mb-4">
        <label for="primaryButtonColor">Color Botón Primario</label>
        <input type="color" id="primaryButtonColor" name="primaryButtonColor" class="form-control"
            value="<%= colors.primaryButton %>">
    </div>
    <div class="form-group mb-4">
        <label for="secondaryButtonColor">Color Botón Secundario</label>
        <input type="color" id="secondaryButtonColor" name="secondaryButtonColor" class="form-control"
            value="<%= colors.secondaryButton %>">
    </div>
    <button type="submit" class="btn btn-primary mt-3" hx-post="/api/admin/colors" hx-trigger="click"
        hx-target="#colorForm" hx-swap="outerHTML" hx-target-error="#toastr-container">Guardar Colores</button>
</form>