<div class="row mb-4">
    <div class="col-12 d-flex justify-content-center">
        <button class="btn btn-success float-end"
                hx-get="/api/admin/candidate/new"
                hx-target="#candidatesContainer"
                hx-swap="afterbegin"
                hx-trigger="click">
            <i class="bi bi-plus-circle me-2"></i>Añadir Candidato
        </button>
    </div>
</div>